p{
    font-family: Arial;
    font-size: 12px;
    margin:0px;
    font-weight:500;
}
.amount{
    font-size: 22px;
    margin: 10px 0px;
}
.loss{
    color: red;
}
.today{
    color:green;
    margin: 6px 0px;
}
.currency{
    color:gray
}