.pfp{
    vertical-align: middle;
    border-radius: 23px;
    height: 45px;
    width: 45px;
    object-position: center;
    object-fit: cover;
}

.post{
    vertical-align: middle;
    border: none;
    font-size: 16px;
    padding-right: 70px;
    outline:none;
}

.tweet{
    vertical-align: middle;
    border: none;
    border-radius: 16px;
    background-color: rgb(49, 169, 249);
    color: white;
    font-weight: bold;
    padding: 8px 16px;
}